<h1>Edit Park</h1>

<!-- need to make this admin only -->
<%= render :partial => 'form' %>

<%= link_to('Sign In', '/signin') %><br />
<%= link_to('Sign Up', '/signup') %><br />
<%= link_to('All Dog Parks', '/parks') %><br />
<%= link_to 'About Us', '/about' %><br />
<%= link_to 'Contact', '/contact' %><br />
<%= link_to 'Home', '/' %><br />