<h1>San Francisco Dog Parks</h1>

<% @parks.each do |park| %>
  <%= link_to(park.name, park) %></br></br>
<% end %>

<%= link_to('Sign In', '/signin') %><br />
<%= link_to('Sign Up', '/signup') %><br />
<%= link_to 'About Us', '/about' %><br />
<%= link_to 'Contact', '/contact' %><br />
<%= link_to 'Home', '/' %><br />