<h1><%= @park.name %></h1>

  <p> <img src='<%= @park.image %>'> </p>
  <p> <strong>Address: </strong><%= @park.address %> </p>
  <p> <strong>Leash Rule: </strong><%= @park.leash_rule %> </p>

<h2>Dogs who roam here</h2>

  <% @park.dogs.each do |dog| %>
    <p><%= link_to(dog.name, dog_path(dog)) %> </p>
    <p><%= image_tag dog.image, width: '200px' %></p>
  <% end %>
