<%= form_for @dog, :html => {:multipart => true} do |f| %>

  <div class="controls">
    <%= f.text_field :name, class: 'text_field', placeholder: 'Name' %>
  </div>
  <div class="controls">
    <%= f.text_field :breed, class: 'text_field', placeholder: 'Breed' %>
  </div>
  <div class="controls">
    <%= f.text_field :age, class: 'text_field', placeholder: 'Age' %>
  </div>
  <div class="controls"> 
    <%= select("dog", "park_id", Park.pluck(:name, :id), {:prompt => 'Home Park'}) %>
  </div>
  <div class="controls">
    <%= f.hidden_field :user_id, :class => 'hidden_field' %>
  </div>
  <div class="controls">
    <%= f.file_field :image, placeholder: 'Image' %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), dogs_path, :class => 'btn' %>
  </div>

<% end %>
