<p><%= form_for @dog do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br /><br />

    <%= f.label :breed %>
    <%= f.text_field :breed %><br /><br />

    <%= f.label :age %>
    <%= f.text_field :age %><br /><br />
    
    <%= f.label :photo %>
    <%= f.file_field :photo %>
    <%#= f.hidden_field :photo_cache %><br /><br />

    <%= f.label :park_id %>
    <%= select("dog", "park_id", Park.find(:all).collect {|park| [ park.name, park.id ] }, {:prompt => 'Select'}) %>

    <%= f.submit %><br /><br /></p>
<% end %>
