<h1>Create your dog's profile</h1>

<%#= render :partial => 'form' %>
<p><%= form_for @dog do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %></br></br>

    <%= f.label :breed %>
    <%= f.text_field :breed %></br></br>

    <%= f.label :age %>
    <%= f.text_field :age %></br></br>
    
    <%= f.label :image %>
    <%= f.text_field :image %>
    <%= f.file_field :image %></br></br>

    <%= f.submit %></br></br></p>
<% end %>

<p><%= link_to('All Dog Parks', root_path) %></p>

