<h1><%= @dog.name %></h1>

  <!--<p> <img src='<%#= @dog.image %>'> </p> -->

  <%#=binding.pry%>

  <p> <strong>Breed: </strong><%= @dog.breed %> </p>
  <p> <strong>Age: </strong><%= @dog.age %> </p>
  <p> <strong>Home Park: </strong><%= link_to(@dog.park.name, park_path(@dog.park)) %></p>

  <%= link_to('Edit Dog', edit_dog_path) %></br></br>
  <%= link_to('All Dog Parks', root_path) %></br></br>

<%= render partial: 'comment_form' %>
<%= render partial: 'comment', collection: @comments %>
