<h1>Learn more...later </h1>

<%= link_to('Sign In', '/signin') %><br />
<%= link_to('Sign Up', '/signup') %><br />
<%= link_to('All Dog Parks', '/parks') %><br />
<%= link_to 'Contact', '/contact' %><br />
<%= link_to 'Home', '/' %><br />