<h1> Contact Me </h1>

<p> Blair Cuny </p><br />
<p> blaircuny@gmail.com</p><br />

<%= link_to('Sign In', '/signin') %><br />
<%= link_to('Sign Up', '/signup') %><br />
<%= link_to('All Dog Parks', '/parks') %><br />
<%= link_to 'About Us', '/about' %><br />
<%= link_to 'Home', '/' %><br />